body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding: 20px;
    margin: 0;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* ADD MOVIE FORM */

form {
    background: white;
    padding: 15px;
    border-radius: 8px;
    width: 400px;
    margin: 0 auto;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

input, button {
    width: 380px;
    padding: 10px;
    margin: 6px 0;
    border-radius: 5px;
    border: 1px solid #bbb;
}

/* Add Movie button colored */

form button {
    width: 400px;
    cursor: pointer;
    transition: 0.2s ease;
    border: 1px solid #bbb;
}

form button:hover {
    background: #2563eb; 
    color: white; 
    font-weight: bold;
}

/* SEARCH INPUT */
#search-input {
    width: 600px;  
    height: 30px;        
    padding: 10px;
    display: block;
    margin: 20px auto;     
    border: 1px solid #bbb;
    border-radius: 6px;
}

/* MOVIE LIST */
#movie-list {
    margin-top: 20px;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
}

.movie-item {
    background: white;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* BUTTON GROUP FOR EDIT + DELETE */
.btn-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}



/* First button = Edit */
.movie-item button:first-of-type {
    width: 395px;
}

.movie-item button:first-of-type:hover {
    background-color: #43a047;
    font-weight: bold;
    color: white; 
}

/* Second button = Delete */
.movie-item button:last-of-type {
    width: 395px;
}

.movie-item button:last-of-type:hover {
    background-color: #d32f2f;
    font-weight: bold;
    color: white;
}